@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
}

.keyboard-layout .box-width {
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 3px 10PX;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    box-shadow: 1px 2px 5px rgba(34, 3, 3, 0.5);
    border: 1px solid rgba(34, 3, 3, 0.212);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: rgb(3, 0, 0);
}

.keyboard-layout .box-width:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.keyboard-layout .big-box-width {
    cursor: pointer;
    width: 130px;
    padding: 15px 0;
    height: 70px;
    padding: -1.9px;
    margin-top: -33px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 1px 2px 5px rgba(34, 3, 3, 0.5);
    border: 1px solid rgba(34, 3, 3, 0.212);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: rgb(3, 0, 0);
}

.keyboard-layout .big-box-width:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
}

.keyboard-layout .big-box-width p {
    padding: 16px 10px;
    font-size: 25px;
}

.keyboard-layout .big-box-width p i {
    font-size: 30px;
}

.tab-box {
    width: 100px;
    height: 60px;
    padding: 2px;
}

.tab-box .right-align-text p i {
    font-size: 32px;
}

.tab-box .right-align-text {
    text-align: right;
    margin-right: 3px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.box-width .right-align-text {
    text-align: right;
    margin-right: 3px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.box-width .right-align-text {
    text-align: right;
    margin-right: 3px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.box-width .middle-align-text {
    text-align: center;
    padding: 6px 0;
    margin-top: -6px;
}

.className-caps {
    padding: 30px;
}

.category-primary-color {
    background: rgb(231, 227, 227);
    ;
}

.category-A-color {
    background: #f80000;
}

.category-B-color {
    background: #ff3c00;
}

.category-C-color {
    background: #11fa00;
}

.category-D-color {
    background: #039eff;
}

.category-E-color {
    background: #006afd;
}

.category-F-color {
    background: #03ddff;
}

.category-G-color {
    background: #faa700;
}

.category-H-color {
    background: #ff00dd;
}

.className_space {
    background-color: #8f86f6;
}

.fas.fa-long-arrow-alt-left {
    margin-top: -29px;
    top: -20px;
    position: relative;
}

.className_left_arrow.big-box-width.category-H-color {
    top: 27px;
    position: relative;
}

.fas.fa-level-up-alt {
    font-weight: 900;
    transform: rotate(270deg);
}

.keyboard-layout.mt-5.text-center {
    top: -30px;
    position: relative;
}

.className_F.box-width.category-D-color {
    border: 3px solid white;
}

.className_J.box-width.category-E-color {
    border: 3px solid white;
}

.category-B-color {
    background: yellow;
}

.typeImg {
    width: 500px;
}

.box-width.category-A-color.className_caps {
    top: -6px;
    position: relative;
}

.classShift.box-width.category-A-color.className_shift_left {
    position: relative;
    top: 6px;
}

.box-width.category-primary-color {
    position: relative;
    top: 5px;
}

.className_tick.box-width.category-primary-color {
    position: relative;
    top: 0px;
}

.box-width.category-A-color.className_tab,
.className_third_brac_left, .className_third_brac_right, .className_angle_slash,
.className_semicolon, .className_comma_UP, .className_enter, .className_comma, .className_fullstop,
.className_forwardslash, .className_shift_right  {
    position: relative;
    top: 5px;
}